# Database
/data

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules/*
!node_modules/enmap

# Editors
.idea
.vscode
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# log files
logs
