# Database
/data

# Coverage reports
coverage

# API keys and secrets
.env
docker-compose.yml

# Dependency directory
node_modules

# Editors
.idea
.vscode
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# log files
logs
