name: Format review

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  review:
    name: Review formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4

      - name: Restore CI Cache
        uses: actions/cache@v5
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-22-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Dependencies
        if: ${{ !steps.cache.outputs.cache-hit }}
        run: pnpm install --frozen-lockfile

      - name: Run ESLint
        run: pnpm eslint src --ext ts

      - name: Run Prettier
        run: pnpm prettier --check .
